<div id="<%= dom_id gallery %>">
  <p>
    <strong>Photo:</strong>
    <%= gallery.photo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= gallery.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= gallery.when_went %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

</div>
